.red-text {
	color: #f2463a;
}
.purple-text {
	color: #5C63AB;
}
.yellow-text {
    color: #ffd081;
}
.teal-text{
    color: #48DEE2;
}
.md-38 {
	font-size: 38px;
}

.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.button {
    color: #FFB260;
}

.button-text {
    color: #02365E;
}

.button-hover {
    color: #FFB260;
}

.footer {
    bottom: 10px;
}